* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Maven Pro', sans-serif;
}
.game-title {
    display: block;
    margin-bottom: 30px;
    color: #222;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 302px;
    margin: 0 auto 50px;
    border: 1px solid #000;
    position: relative;
}
.game-item {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 90px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    transition: all linear .3s;
    &:hover {
        background: #ccc;
    }
}

#reset-game {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 8px;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: all linear .3s;
    &:hover {
        background: #ccc;
    }
}
#messages {
    font-size: 25px;
    color: red;
    letter-spacing: 0.3em;
    position: absolute;
    top: 114px;
    left: -1px;
    background: #fff;
    width: 302px;
    text-align: center;
}