@import './function';

* {
    box-sizing: border-box;
    outline: none;
}
body {
    background: #ccc;
}
.container {
    position: relative;
}
.game-title {
    display: block;
    margin-bottom: 30px;
    color: rgb(245, 112, 3);
    font-weight: 700;
    text-align: center;
    @include adaptive-value('font-size', 55, 20, 0);
}
.game {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 302px;
    margin: 0 auto 50px;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
    font-family: 'Indie Flower', cursive;
}
.game-item {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 90px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    transition: all linear .3s;
    &:hover {
        background: #ccc;
    }
}

#reset-game {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 8px;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition: all linear .3s;
    &:hover {
        background: #ccc;
    }
}
#messages {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(245, 112, 3);
    @include adaptive-value('font-size', 45, 25, 0);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.visible {
        z-index: 2;
        background: rgba(0, 0, 0, 0.55);
    }
}
.x {
    background: rgba(0, 0, 0, 0.37);;
    color: #fff;
}
.o {
    background: rgba(0, 0, 0, 0.37);
    color: red;
}